:root {
    /* text colors */
    --main-txt-cl: #2E2F42;
    --secondary-txt-cl: #434455;
    --accent-txt-cl: #4D5AE5; 
    --white-txt-cl:  #FFFFFF;

    /* BG colors */
    --main-bg-cl: #FFFFFF;
    --secondary-bg-cl: #2E2F42;
    --additional-bg-cl: #F4F4FD;
    --accent-bg-cl: #404BBF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color:  var(--main-bg-cl);
    color: var(--main-txt-cl);
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    color: var(--accent-bg-cl);
    letter-spacing: 0.03em;
    line-height: calc(24 / 18);
}

.accent {
    color: var(--main-txt-cl);
}

.nav-link {
    font-weight: 500;
    line-height: calc(24 / 16);
    text-decoration: none;
    color: inherit;
}

 .nav-link:hover,
 .nav-link:focus {
    color: var(--accent-bg-cl);
}

.address-link {
    color: var(--secondary-txt-cl);
    text-decoration: none;
    font-style: normal;
    line-height: calc(24 / 16);
    cursor: pointer;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-txt-cl);          
}

.section-slogan {
    background-color: var(--secondary-bg-cl);
    height: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    margin-bottom: 120px;
   
}

.slogan-title {
    font-size: 56px;
    line-height: calc(60 / 56);
    color: var(--white-txt-cl);
    letter-spacing: inherit;
    width: 494px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 48px;
    
}

.button-order {
    background: var(--accent-txt-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: calc(24 / 16);
    color: var(--white-txt-cl);
    padding: 16px 32px;
    border-radius: 4px;
} 

.button-order:hover,
.button-order:focus {
    background-color: var(--accent-bg-cl);
}

.list {
    display: flex;
    flex-direction: row;
}

.list-features {
    margin-bottom: 120px;
    justify-content: space-between;
    gap: 24px;
}

.features-desc {
    width: 264px;
}

.section-mission {
    height: 412px;
    margin-bottom: 120px;
    text-align: center;
    
}

.list-pics {
    justify-content: space-between;
}

.header-2 {
    font-size: 36px;
    line-height: calc(40 / 36);
    margin-bottom: 72px;
}

.header-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    margin-bottom: 8px;
}

.paragraph {
    line-height: calc(24 / 16);
    color: var(--secondary-txt-cl);
}

.section-team {
    background-color: var(--additional-bg-cl);
    height: 732px;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: center;
}

.button-filter {
    background: var(--additional-bg-cl);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: var(--accent-txt-cl);
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;

}

.button-filter:hover,
.button-filter:focus {
    background-color: var(--accent-bg-cl);
    color: var(--white-txt-cl) ;
}

.list-button-filter {
    justify-content: center;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    gap: 24px;

}

.list-pirtfolio {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
    gap: 24px;
}

.footer {
    background-color: var(--secondary-bg-cl);
    color: var(--white-txt-cl);
    line-height: calc(24 / 16);
    height: 310px;
    text-align: left;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-txt {
    width: 264px;
    padding-top: 16px;
}

.accent-footer {
    color: var(--white-txt-cl);
}

.container {
    width: 1128px;
    margin-left: auto;
    margin-right: auto;
}